.table{
    margin-top:15px;
    overflow:auto;
   margin-right:-3px;
    height:730px;
    
    background-color:white;
    padding-right:10px;
}
.table tr{
    display:flex;
    justify-content:space-between;
  
}
