
*{
  margin :0;
}
body{
  background-color:beige;
}
.app{
  display:flex;
  justify-content:space-evenly;
  padding:20px;
}
.app__leftSide{
  flex:0.9;
  margin-left:4px;
}
.app__header{
display:flex;
justify-content:space-around;

margin-bottom:15px;
}
.app__stats{
  display:flex;
  justify-content:space-between;
 
}
@media(max-width:990px){
  .app{
    flex-direction:column;
  }
}
.leaflet-container{
height:100%;
    width:100%;
  
}
.app__rightSide{
 
  display:flex;
  flex-direction:column;
  margin-right:0px;

}